/*
  Reset CSS v2.0 | 20110126 | License - none (public domain) | http://meyerweb.com/eric/tools/css/reset/
*/
@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');

/*
  Google Fonts | Roboto by Christian Robertson | License - http://www.apache.org/licenses/LICENSE-2.0
*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('/static/font/KFOmCnqEu92Fr1Me5Q.ttf')format('truetype')
}

body {
  font-family : 
      'Roboto',
      sans-serif;
  font-size : 100%;
  font-weight : 400;
  color : rgb(252,252,252);
  background-color : rgb(24,26,27);
}

img.displayed {
  display : block;
  margin: 15px auto 0 auto;
}

.light-mode {
  color : rgb(24,26,27);
  background-color : rgb(252,252,252);
}

a {
  text-decoration : none;
}

nav {
  display : inline-block;
  width : 100%;
  text-align : center;
}

.menuBar {
  display: inline-flex;
  align-items: center;
  height: fit-content;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

li,
nav > ul > li > a {
  padding : 10px;
  font-weight : bold;
  list-style : none;
  color : rgb(255,255,255);
}

p {
  text-align : justify;
  font-size : 20px;
  line-height : 1.5em;
}

p > a {
  color : rgb(85,140,236);
}

p > a:hover,
span#source > a {
  color : rgb(85,113,161);
}

.programExplanation,
article,
.pre {
  margin : 0 10%;
}

article > img,
.pre {
  display : block;
  float : right;
  margin-left : 1%;
  -webkit-border-radius : 8px;
  -moz-border-radius : 8px;
  border-radius : 8px;
  -ms-border-radius : 8px;
  -o-border-radius : 8px;
}

.pre {
  padding : 1%;
  font-family : monospace;
  white-space : pre;
  color : rgb(0,0,0);
  background-color : rgb(187,187,187);
}